{% extends 'base.html' %}
{% block title %}文章列表{% endblock %}
 {% block custom %}
<div id="main">
                <div class="about_page">
                    <div class="about_items">
                        <div class="grey_bar">
                            <div id="breadcrumbs">
                                <ul>
                                    <li><a href="{{url_for('blog.home')}}">Home</a></li>
                                    <li>» </li>
                                    <li>Article</li>
                                </ul>
                            </div>
                            <h2>
                                文章列表
                            </h2>
                        </div>
                        <p>
                            共篇{{ pagination.total }}文章.<br />
                        </p>
                        <br />
                        {% for contact in posts %}
                        <h2><a href="{{ url_for('blog.detail',id=contact.id) }}">{{contact.title}}</a></h2>
                        <br />
                        <P>{{contact.body}}</p>
                        <div class="Skills_widget_stars"></div>
                        <br />
                        {% endfor %}
                        <div class="pagination">
                            <span class="step-links">
                            {% if pagination.has_prev %}
                                <a href="?page={{ pagination.previous_num }}">previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ pagination.page }} of {{ pagination.pages}}.
                            </span>
                            {% if pagination.has_next %}
                                <a href="?page={{ pagination.next_num }}">next</a>
                            {% endif %}
                        </span>
                        </div>
                    </div>
                    <div class="Skills_items">
                        <div class="block">
                            <h3>
                                热门</h3>
                            <br />
                           {% for article in hot_articles %}
                            <a href="{{ url_for('blog.detail',id=article.id) }}" style="color:#CCC">
                                {{article.title}}:{{article.body}}</a><br/>
                            {% endfor %}
                        </div>
                        <div class="clearfix">
                        </div>
                        <br />
                    </div>
                </div>
            </div>
 {% endblock %}



