<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>黄毓森的博客</title>
    <link href="/static/style/style.css"  rel="stylesheet" />
    {% block custom_css %}{% endblock %}
    {% block custom_js %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        <div id="mainbody">
            <div id="navigation">
                <div class="nav">
                    <ul>
                        {% if current_user.is_authenticated %}
                        <li>|</li>
                        <li><a href="{{ url_for('auth.logout')}}" ><span>Logout</span></a></li>
                        <li>|</li>
                        <li><a href="{{ url_for('blog.publish')}}" class='active'><span>Publish</span></a></li>
                        <li>|</li>
                        {% else %}
                        <li>|</li>
                        <li><a href="{{ url_for('auth.login')}}" class='active'><span>Login</span></a></li>
                        <li>|</li>
                        {% endif %}
                        <li><a href="{{ url_for('blog.articles')}}" class='active'><span>Article</span></a></li>
                        <li>|</li>
                        <li><a href="{{ url_for('picture.pictures')}}" class='active'><span>Picture</span></a></li>
                        <li>|</li>
                        <li><a href="{{ url_for('blog.messages')}}" class='active'><span>Message</span></a></li>
                        <li>|</li>
                        <li><a href="{{ url_for('blog.home')}}" class='active'><span>Home</span></a></li>

                    </ul>
                </div>
            </div>
           {% block custom %} {% endblock %}
        </div>
    </div>
    <div class="clearfix">

    </div>
   <div id="footer">
        <p>
            <span><a href="#">Copyright</a> © EGrappler. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">click here</a> - Rebuild by <a href="#" target="_blank">HCY</a></span>
        </p>
        <p>
            <span>All Rights Reserved.</span></p>
        <div class="clearfix">
        </div>
    </div>
</body>
</html>
